/****** Header *******/
a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

ul#header-links li{
	display: inline;
  padding: 20px;
  text-transform: uppercase;

}

#headerLinks-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 20px;
  border-bottom: 2px solid #e4e2e2;
}

/****** Main *******/
#main {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-top: 2%;
}

/****** SideBar *******/
#side-links {
  width: 25%;
}

#main-content {
  width: 75%;
  margin: 0% 2.5%;
  padding: 2.5% 2.5%;
  border: 1px solid #e4e2e2;
  border-top: hidden;
  box-shadow: inset 0px -15px 0px -10px #f4f4f4;
}


.sideLinks-title {
  text-transform: uppercase;
  position: relative;
  background: #e4e2e2;
  border-radius: .4em;
  padding: 10px;
  border-radius: 7px;
}
.sideLinks-title:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 80%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #e4e2e2;
	border-bottom: 0;
	margin-left: -5px;
	margin-bottom: -5px;
}




h1 {
  text-transform: uppercase;
  margin-top: 0;
  display: inline;
}

#heading1 {
  font-size: 2em;
  color: #00a7e0;
  text-transform: uppercase;
  font-weight: bold;
}

#heading2 {
  text-indent: 1em;
  font-style: italic;
  font-weight: bold;
}

#picture-container {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}


#picture-container img {
  display: block;

}

.picture {
  text-align: center;
}
.img {
  position: relative;
   width:  350px;
   height: 225px;
   background-position: 70% 40%;
   background-repeat: no-repeat;
   background-size: 110%;
   border: 2px solid #00a7e0;
   object-fit: cover;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #00a7e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container:hover .overlay {
  opacity: 0.7;
}

.container:hover .overlay-txt {
  opacity: 1;
}

.title {
  position: relative;
  text-transform: uppercase;
  font-size: 1.5em;
  color: #fff;
}



.description {
  font-size: 1em;
  color: #fff;
  opacity: 1;
}
